h1{
   color: red;
   }
.bgcolor h1{
	background-color: green;
	color: red;
}
.textalign h2{
	text-align: center;
}
.textalign h3{
	text-align: left;
}
.textalign h4{
	text-align: right;
}
p{
	text-align: justify;
}
p.a{
	text-align-last: center;
}
p.b{
	text-align-last: right;
}
p.c{
	text-align-last: justify;
}
.textdirection p{
	direction: rtl;
	unicode-bidi: bidi-override;
}
.baseline p{
	vertical-align: baseline;
}
.texttop p{
	vertical-align: texttop;
}
.textbottom p{
	vertical-align: textbottom;
}
.sub p{
	vertical-align: sub;
}
.super p{
	vertical-align: super;
}
.decoration .overline{							
	text-decoration: overline red;
}
.decoration .underline{
	text-decoration: underline dotted;
}
.decoration .linethrough{
   text-decoration: line-through 5px; 
}
.decoration .overlineunderline{
	text-decoration: overline underline purple 5px;
}
.transform .uppercase{
	text-transform: uppercase;
}
.transform .lowercase{
	text-transform: lowercase;
}
.transform .capitalize{
	text-transform: capitalize;
}
p{
	text-indent: 100px;
}	
